<form [formGroup]="form" (ngSubmit)="updateTask()" class="center">
  <div class="center">
    <h2>Update Task</h2>
    <div class="form-group">
      <label>Type:</label><br>
      <select formControlName="typeid">
        <option *ngFor="let taskType of taskTypes" [ngValue]="taskType.id">
          {{ taskType.name }}
        </option>
      </select><br>
      <label>Status:</label><br>
      <select formControlName="statusid">
        <option *ngFor="let taskStatus of taskStatuses" [ngValue]="taskStatus.id">
          {{ taskStatus.name }}
        </option>
      </select><br>
      <div *ngIf="submitted && f.requestbydate.errors" class="invalid-feedback">
        <div *ngIf="f.requestbydate.errors.required">Creation date is required</div>
      </div>
      <label>Request by date:
        <input class="form-control"
          formControlName="requestbydate" placeholder="Request by date" disabled/>
      </label><br>
      <label>Creation date:
        <input class="form-control"
          formControlName="createdate" placeholder="Creation date" disabled/>
      </label><br>
      <label>Reminder date:
          <input class="form-control"
             placeholder="Reminder date" formControlName="nextactiondate"  disabled/>
        </label><br>
      <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
        <div *ngIf="f.description.errors.required">Description is required</div>
      </div>
      <label>Description:
        <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
          formControlName="description" placeholder="Description" value="{{task.taskDetails.description}}" />
      </label><br>
    </div>
    <app-comment (onStatusChange)="childStatusChanged($event)"></app-comment>
    <div class="form-group">
      <button class="btn btn-primary">Update task</button>
    </div>
  </div>
</form>